<strong>Exercise 2</strong>

ibm.ipynb

Exercise 3

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Exercise 4</strong>

<strong>Some data science languages are:</strong>
<ol><li>Java</li>
    <li>Julia</li>
    <li>Scala</li>
    <li>C/C++</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    
</ol>

<strong>Exercise 5 </strong>

Some of the popular libraries that Data Science libraries are:
<ol>
    <li>Matplotlib</li>
    <li>Keras</li>
    <li>SciKit Learn</li>
    <li>Pytorch</li>
    <li>Tensorflow</li>
    <li>Numpy</li>
    <li>Scipy</li>
    <li>Pandas</li>
</ol>

<strong>Exercise 6</strong>

Data Science Tools Include
<table>
    <tr><th>Apache Spark</th></tr>
    <tr><th>BigML</th></tr>
    <tr><th>SAS</th></tr>
  
</table>

<strong>Exercise 7</strong>

<h3>Arithmetic expressions in Python</h3>

# Arithmetic operations
code = compile("6 + 4", "<string>", "eval")
eval(code)
# Result: 9

code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

<strong>Exercise 8</strong>

This a simple arithmetic expression to mutiply then add integers

In [30]:
(3*4)+5
# Result: 17

17

<strong>Exercise 9</strong>

This will convert 200 minutes to hours by diving by 60

In [31]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

<strong>Exercise 10 </strong>

<p>Some Key takeaways from this course.<br>Objectives:<br>
<ul><li>Popular languages for data science</li>
    <li>Popular Tools for data science</li>
    <li>Arithmetic Expressions</li>
    <li>Changinge minutes to hours</li>
   </ul>
   </p>

<strong>Exercise 11</strong>

<h2>Author:</h2> <h3>Dharmesh Gidwani</h3>